th{
    background: rgba(53, 52, 52, 0.76);
    margin: 0;
    color: white;

}

td, th{
    padding: 5px;
    border: 1px solid black;
    
}

table{
    width: 300px;
    border-collapse: collapse;
    position: relative;

}

tbody > tr:nth-child(2n){
    background-color: lightgrey;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: rgba(53, 52, 52, 0.76)

    
}