@font-face {
    font-family: 'Sriracha';
    src: url("fonts/Sriracha-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Passion One';
    src: url('fonts/PassionOne-Bold.ttf');
}

body{
    margin: 0;
    padding: 0;
}

header{
    background: black;
    color: white;   
    height: 10%;
    width: 100%;
    padding-top: 50px;

}

header h1{
    font-family: 'Passion One', Times;
    font-size: 8vw;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;

}

header p {
    font-size: 2vw;
    text-align: center;
    padding-bottom: 60px;
    margin: 0;
   
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: 'Sriracha';
    font-size: 3.2vw;
    
}

section p{
    margin: 0; 
}

.estrofe{
    padding: 50px;
    
}

#box1 {
    background-color: white;
    width: 100%;
}

#box2 {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#estrofe2{
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px;
    margin: -20px;
    
}
#box3 {
    background-color: white;
}

#box4{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

#estrofe4{
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px;
    margin: -20px;

}

#box5 {
    background-color: white;
}


footer {
    background: black;
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 50px;
    font-size: 1.5vw;
}
