@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --verde1: #c5ebd6;
    --verde2: #83e1ad;
    --verde3: #3ddc84;
    --verde4: #2fa866;
    --verde5: #1a5c37;
    --verde6: #063d1e;

    --fonte-padrao: arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
}



body{
    background-color: var(--verde1);
    font-family: var(--fonte-padrao);
}

header{
    background-color: var(--verde5);
}



header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

header > p {
    color: white;
}

nav {
    background-color: #063d1e;
}

main{
    background-color: white;
}


main h1{
    color: var(--verde6);
    font-family: var(--fonte-android);
    
}




main h2{
    color: var(--verde6);
    font-family: var(--fonte-android);
}

footer{
    background-color: #063d1e;
    color: white;
}


